.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
}

.logo {
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 20px;
  cursor: pointer;
}

.instagram-logo {
  height: 100%;
  color: #035f29 !important;
  filter: drop-shadow(0 0 1px rgba(124, 200, 159, 0.2));
}

@media (max-width: 768px) {
  .nav-links li {
    display: none;
  }
  
  .nav-links li.instagram {
    display: block;
    height: 3rem;
  }
}
