/* src/components/MenuSection.css */
.menu-section {
  margin-bottom: 40px; /* Aumenta il margine inferiore per più spazio tra le sezioni */
  padding: 20px; /* Aggiunge padding interno */
  border-bottom: 1px solid #ddd; /* Aggiunge una linea di separazione tra le sezioni */
}

.menu-section h2 {
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 15px; /* Aumenta il padding per più spazio */
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Aumenta il gap per più spazio tra gli elementi */
}

.category-icon {
  margin-right: 10px; /* Spazio tra l'icona e il testo */
}

@media (min-width: 769px) {
  .menu-section h2 {
    cursor: default;
  }
}
