/* src/components/MenuItem.css */
.menu-item {
  border: 1px solid #ddd;
  padding: 20px; /* Aumenta il padding per più spazio interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge ombra per un effetto card */
  border-radius: 10px; /* Aggiunge bordi arrotondati */
  transition: transform 0.2s; /* Aggiunge transizione per l'effetto hover */
  width: 100%; /* Larghezza completa per mobile di default */
}

.menu-item:hover {
  transform: scale(1.05); /* Aggiunge effetto hover */
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Aggiunge bordi arrotondati all'immagine */
}

.item-details {
  text-align: left;
  margin-top: 10px; /* Aggiunge margine superiore */
}

@media (min-width: 481px) and (max-width: 768px) {
  .menu-item {
    width: calc(50% - 20px); /* Due elementi per riga su tablet */
  }
}

@media (min-width: 769px) {
  .menu-item {
    width: calc(30% - 20px); /* Tre elementi per riga su desktop */
  }
}
