/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; /* Aumentare il padding per maggiore spazio interno */
  background-color: #333;
  color: #fff;
}

.logo {
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 20px; /* Aumentare il margine per più spazio tra i link */
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
